/*
 * General
 */

html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: #3d464d;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

/*
 * Home - HEADER
 */

.header {
    margin-top: 100px;
    text-align: center;
}

.header-name {
    font-size: 35px;
}

.header-image {
    border-radius: 100px;
    width: 180px;
    height: 180px;
}

/*
 * Home - NAV
 */

.nav {
    padding-top: 10px;
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #d0d2d4;
}

.nav .nav-list {
    list-style: none;
    padding-left: 0;
}

.nav .nav-list li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.nav .nav-list li > a {
    text-decoration: none;
    color: #3d464d;
}

.nav .nav-list li > a:hover {
    color: red;
}

/*
 * Home - SOCIAL
 */

.social {
    text-align: center;
    margin-top: 60px;
}

.social .social-list {
    list-style: none;
}

.social .social-list > li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}

.social .social-list li > a {
    font-size: 30px;
}

.social .color-fb {
    color: #3b5998;
}

.social .color-twitter {
    color: #55ACEE;
}

.social .color-github {
    color: #333333;
}

.social .color-email {
    color: #FC5759;
}

/*
 * Projects
 */

.projects {
    width: 80%;
    margin: 0 auto;
}

.projects-title {
    padding-top: 20px;
   
}
