<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div class="container content">

    <div class="header ">
        <h2 class="header-name">Paolo Bernasconi</h2>
        <img class="header-image " src="{{ site.baseurl }}public/images/profile.jpg">
    </div>


    <div class="nav">
        <ul class="nav-list">
            <li><a href="{{ site.baseurl}}resume">RESUME</a></li>
            <li><a href="{{ site.baseurl}}projects">PROJECTS</a></li>
            <li><a href="{{ site.baseurl}}blog">BLOG</a></li>
        </ul>
    </div>

    <div class="social">
        <ul class="social-list">
            <li><a class="icon ion-social-facebook color-fb"></a></li>
            <li><a class="icon ion-social-github color-github" href="https://github.com/pbernasconi"></a></li>
            <li><a class="icon ion-social-twitter color-twitter" href="https://twitter.com/paolobernasconi"></a></li>
            <li><a class="icon ion-ios7-email color-email" href="mailto:paolo.enrico.bernasconi@gmail.com"></a></li>



        </ul>
    </div>


</div>


<!--
<footer class="footer">
    <small>
        &copy;
        <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
        . All rights reserved.
    </small>
</footer>

-->

</body>
</html>
